body{
	background-color: #f1f1f2;
}

#template{
	height:auto;
	width:1200px;
	margin:auto;
}

#header{
	height: 200px;
	width: 100%;
	border: 1px solid #000;/*memberi garis dengan tebal x*/
	border-radius: 5px 5px 0 0;/*garis melengkung tepi kiri kanan*/
	background: #67afcb;
}

#left-header{
	height: 18%;
	width: 24%;
	float: left;
}

#right-header{
	height: 18%;
	width: 74%;
	border:none;
	float: left;
	margin-left:5px;
}
#search-form{
	margin-top: 1px;
	float :right;
	margin-right: 55px;
	padding-top: 14px;
}

#menu{
	height: 40px;
	width: 100%;
	border-left: 1px solid;
	border-right: 1px solid;
	background-color: #e4f1f6;
}

#content{
	min-height: 300px;
	width: 100%;
	
}

#left-content{
	min-height: 300px;
	width: 14%;
	float: left;
	border-left: 1px solid;

}

ul#navemenu li{
	list-style-type: none;
	width: 125px;
	position: relative;
	text-align: center;
	right: 20px;
	
}

ul#navemenu li a#active{
	background-color: #763626;
	color:white;
}

ul#navemenu li a:hover:not(#active){
	background-color: #555;
	color:white;
}

ul#navemenu a{
	text-decoration: none;
	display: block;
	color: #000;
	width: 125px;
	height: 25px;
	background-color: #fff;
	border:1px solid #ccc;
	border-radius: 5px;
	margin-top: 5px;
}

#right-content{
	min-height: 300px;
	width: 1000px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	float: right;
	padding-right: 15px;
	padding-left: 10px;
	border:1px solid;
}

/*#kiri{
	height: 100%;
	width: 30%;
	float:left;
	border: 0px solid #000;
	background-color: #e4f1f6;
}

#kanan{
	height: 100%;
	width: 69%;
	float:right;
	border: 0px solid #000;
	background-color: #e4f1f6;
}*/

#footer{
	clear: both;
	color: white; 
	height: 55px;
	width: 100%;
	border: 1px solid #000;/*memberi garis dengan tebal x*/
	border-radius: 0 0 5px 5px ;/*garis melengkung tepi kiri kanan*/
	background-color: #092834
}

#right-content button a{
	text-decoration: none;
	color: black;
}

#right-content button a:hover{
	text-decoration: none;
	color: black;
}

#right-content table{
	width: 100%;
}